// Placeholder to allow defining custom styles that override everything else.
// (Use `_sass/minima/custom-variables.scss` to override variable defaults)

.nav-wrapper {
    max-width: 100%;
    padding-left: 10%;
    padding-right: 10%;
    }

.center_img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}